<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Assignment CRUD - {{ title }}</title>
    {% else %}
        <title>Assignment CRUD</title>
    {% endif %}
</head>
<body style="background-color:black;">
</body>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-light bg-danger-30 fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4 font-weight text-danger" href="{{ url_for('netflix') }}">NETFLIX </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link text-danger" href="{{ url_for('Movies_TVShows') }}">Featured Movies & Shows</a>
              <a class="nav-item nav-link text-danger" href="{{ url_for('about') }}">Click to View Profiles</a>
              <a class="nav-item nav-link text-danger" href="{{ url_for('trendingnow') }}">Trending Now</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link text-danger" href="{{ url_for('login') }}">Sign In </a>
                <a class="nav-item nav-link text-danger" href="{{ url_for('register') }}">Register Here</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main text-danger" class="container text-danger">
      <div class="row text-danger">
        <div class="col-md-8 text-danger">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }} text-danger bg-dark">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}<div class="content-section">
            <div class="media">
              <img class="rounded-circle account-img" src="{{ image_file }}">
              <div class="media-body">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
              </div>
            </div>
              <form method="POST" action="" enctype="multipart/form-data">
                  {{ form.hidden_tag() }}
                  <fieldset class="form-group">
                      <legend class="border-bottom mb-4">Account Info</legend>
                      <div class="form-group">
                          {{ form.username.label(class="form-control-label") }}

                          {% if form.username.errors %}
                              {{ form.username(class="form-control form-control-lg is-invalid") }}
                              <div class="invalid-feedback">
                                  {% for error in form.username.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                          {% else %}
                              {{ form.username(class="form-control form-control-lg") }}
                          {% endif %}
                      </div>
                      <div class="form-group">
                          {{ form.email.label(class="form-control-label") }}
                          {% if form.email.errors %}
                              {{ form.email(class="form-control form-control-lg is-invalid") }}
                              <div class="invalid-feedback">
                                  {% for error in form.email.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                          {% else %}
                              {{ form.email(class="form-control form-control-lg") }}
                          {% endif %}
                      </div>
                      <div class="form-group">
                          {{ form.picture.label() }}
                          {{ form.picture(class="form-control-file") }}
                          {% if form.picture.errors %}
                              {% for error in form.picture.errors %}
                                  <span class="text-danger">{{ error }}</span></br>
                              {% endfor %}
                          {% endif %}
                      </div>
                  </fieldset>
                  <div class="form-group">
                      {{ form.submit(class="btn btn-outline-info") }}
                  </div>
              </form>
          </div>
        {% endblock %}
        </div>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
