<!DOCTYPE html>
<html>
<body>
<h1 class='text-white'> Trending Now On Netflix</h3>

<ol>
<pre>
  <h3 class="text-danger">Ginny & Georgia</h3><div><p class="text-info margin-left: 40px; padding-left: 0;" > 2021 TV-14 1 Season</p><div><p class="text-white margin-left: 40px; padding-left: 0;" > Teenage Ginny and her family yearn to put down roots in a picturesque New England town after years on the run.</p>
  <a><img src="https://i.imgur.com/YFEF7ZY.jpg" width= "220" height="300" title="source: imgur.com" /></a>

  <h3 class="text-danger margin-left: 40px; padding-left: 0;" > Bridgerton</h3><div><p class="text-info margin-left: 40px; padding-left: 0;" > 2020 TV-MA 1 Season</p><div><p class="text-white margin-left: 40px; padding-left: 0;" > The eight close-knit siblings of the Bridgerton family look for love and happiness in London high society. Inspired by Julia Quinns bestselling novels.</p>
  <a><img src="https://i.imgur.com/CmFU2kY.jpg" width= "220" height="300" title="source: imgur.com" /></a>

  <h3 class="text-danger">The Secret Life of Pets 2</h3><div><p class="text-info margin-left: 40px; padding-left: 0;" > 2019 PG 1h 26m,</p><div><p class="text-white margin-left: 40px; padding-left: 0;" > On a farm outside New York, Max aims to boost his confidence while in the city, Snowball attempts to rescue a tiger cub and Gidget pretends to be a cat.</p>
  <a><img src="https://i.imgur.com/TgmYsyU.jpg" width= "220" height="300" title="source: imgur.com" /></a>

  <h3 class="text-danger">CoComelon</h3><div><p class="text-info margin-left: 40px; padding-left: 0;" > 2020 TV-Y 2 Seasons</p><div><p class="text-white margin-left: 40px; padding-left: 0;" > Learn letters, numbers, animal sounds and more with J.J. in this edutaining series that brings fun times with nursery rhymes for the whole family!</p>
  <a><img src="https://i.imgur.com/Jp1dQ7Q.jpg" width= "220" height="300" title="source: imgur.com" /></a>

  <h3 class="text-danger">YES DAY</h3><div><p class="text-info margin-left: 40px; padding-left: 0;" > 2021 PG 1h 29m</p><div><p class="text-white margin-left: 40px; padding-left: 0;" >After a teacher meeting, where Allison is informed that her kids feel smothered from their teachers, Allison and her husband (Edgar Ramírez) decide to take advice from the school's
gym teacher and give their kids a Yes Day.</p>
  <a><img src="https://i.imgur.com/sZomkhW.jpg" width= "220" height="300" title="source: imgur.com" /></a>

  <h3 class="text-danger">Grey's Anatomy</h3><div><p class="text-info margin-left: 40px; padding-left: 0;" > 2019 TV-14 16 Seasons</p><div><p class="text-white margin-left: 40px; padding-left: 0;" > Intern and eventual resident Meredith Grey finds herself caught up in personal and professional passions with fellow doctors at a Seattle hospital.</p>
  <a><img src="https://i.imgur.com/lMa5e6a.jpg" width= "220" height="300" title="source: imgur.com" /></a>

  <h3 class="text-danger">Stranger Things</h3><div><p class="text-info margin-left: 40px; padding-left: 0;" > 2019 TV-14 3 Seasons</p><div><p class="text-white margin-left: 40px; padding-left: 0;" > When a young boy vanishes, a small town uncovers a mystery involving secret experiments, terrifying supernatural forces and one strange little girl.</p>
  <a><img src="https://i.imgur.com/9rT8tAr.jpg" width= "220" height="300" title="source: imgur.com" /></a>

  <h3 class="text-danger">The Great British Baking Show</h3><div><p class="text-info margin-left: 40px; padding-left: 0;" > 2020 TV-14 8 Seasons</p><div><p class="text-white margin-left: 40px; padding-left: 0;" > A talented batch of amateur bakers face off in a 10-week competition, whipping up their best dishes in the hopes of being named the U.K's best.</p>
  <a><img src="https://i.imgur.com/sBRv1ZE.jpg" width= "220" height="300" title="source: imgur.com" /></a>

  <h3 class="text-danger">The Blacklist</h3><div><p class="text-info margin-left: 40px; padding-left: 0;" > 2019 TV-14 7 Seasons</p><div><p class="text-white margin-left: 40px; padding-left: 0;" > After turning himself in, a brilliant fugitive offers to help the FBI bag other baddies, but only if rookie profiler Elizabeth Keen is his partner.</p>
  <a><img src="https://i.imgur.com/Z0RaL8y.jpg" width= "220" height="300" title="source: imgur.com" /></a>

  <h3 class="text-danger">Virgin River</h3><div><p class="text-info margin-left: 40px; padding-left: 0;" > 2020 TV-14 2 Seasons</p><div><p class="text-white margin-left: 40px; padding-left: 0;" > Searching for a fresh start, a nurse practitioner moves from LA to a remote northern California town and is surprised by what and who she finds.</p>
  <a><img src="https://i.imgur.com/Iaw8D1T.jpg" width= "220" height="300" title="source: imgur.com" /></a>

		  </pre>
<ol>

</body>
</html>


<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Netflix Search - {{ title }}</title>
    {% else %}
        <title>Netflix Search</title>
    {% endif %}
</head>
<body style="background-color:black;">
</body>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-light bg-danger-30 fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4 font-weight text-danger" href="{{ url_for('netflix') }}">NETFLIX </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">

            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link text-danger" href="{{ url_for('login') }}">Sign In </a>
                <a class="nav-item nav-link text-danger" href="{{ url_for('register') }}">Register Here</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main text-danger" class="container text-danger">
      <div class="row text-danger">
        <div class="col-md-8 text-danger">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }} text-danger bg-dark">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
