{% extends "layout.html" %}
{% block content %}
    {% for row in joined_m_n %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ "Working on" }}</a>		  
              <small class="text-muted">{{ row['pname'] }}  {{ row['pno'] }}</small>		  
            </div>
			<h2><a class="article-title" href="{{ url_for('assign', pno=row.pno, essn=row.essn) }}">{{ row.pname }} {{row.fname}} {{row.lname}}</a></h2>
           
          </div>
        </article>
     {% endfor %}
{% endblock content %}