{% extends "layout.html" %}
{% block content %}
    {% for entertainmentcast in entertainmentcasts %}
        <article class="media content-section bg-dark text-danger">
          <img class="rounded-circle article-img bg-dark text-danger" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) text-danger bg-dark }}">
          <div class="media-body bg-dark text-danger">
            <div class="article-metadata text-danger bg-dark">
              <a class="mr-2 bg-dark text-danger" href="#">{{ entertainmentcast.author.username }}</a>
              <small class="text-danger bg-dark">{{ entertainmentcast.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title text-danger bg-dark" href="{{ url_for('post' text-danger bg-dark, post_id=post.id text-danger) bg-dark text-danger  }}">{{ post.title }}</a></h2>
            <p class="article-content text-danger bg-dark">{{ entertainmentcast.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}