</body>
<html>
<body>
<h1 style="text-align:center;" class= "text-white">Who's Watching?</h1>
</body>
</html>
	  </div>
<div class="contact">
        <div>
		<a class="box1" href="http://localhost:5000/Movies_TVShows">
         <img alt="Qries" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/84c20033850498.56ba69ac290ea.png"
         width="200" height="200">
      </a>
		</div>
        <a class="box2" href="http://localhost:5000/Movies_TVShows">
         <img alt="Qries" src="https://occ-0-2041-3662.1.nflxso.net/art/0d282/eb648e0fd0b2676dbb7317310a48f9bdc2b0d282.png"
         width="200" height="200">
      </a>
        </div>
        <a class="box3" href="http://localhost:5000/Movies_TVShows">
         <img alt="Qries" src="https://occ-0-2041-3662.1.nflxso.net/art/dd717/c1c1d3972f7a262e7429a7422498b6cbe18dd717.png"
         width="200" height="200">
	  </a>
        </div>
		</a>
        </div>
        <a class="box4" href="http://localhost:5000/Movies_TVShows">
         <img alt="Qries" src="https://occ-0-2041-3662.1.nflxso.net/art/74e71/a0b9ffd5b4892d2e41140d6a086f0983fd074e71.png"
         width="200" height="200">
	  </a>
        </div>
 </div>
</style>
</head>
<body>
<html>
<body>
<p style="text-align:center; word-spacing: 21em;" class= "text-white">PersonA PersonB PersonC Kids</small><p/>
</body>
</html>
<html>
<body>
<h3 style="text-align:center;" class= "text-danger">Click A Profile Picture To View Featured Movies & Shows!</h3>
</body>
</html>
<head>
<style>
.box1{
    margin: 0 auto;
    margin: 6em;
    float: left;
}
.box2{
    margin: 2;
    margin: 6em;
    float: left;
	margin-right: 0;

}
.box3{
    margin: 0 auto;
    margin: 6em;
    float: left;

 }
.box4{
    margin: 0 auto;
    margin: 6em;
    float: right;
 }
 .contact{
   display: inline-flex;
 }
</style>
</head>
</body>
</html>
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Assignment CRUD - {{ title }}</title>
    {% else %}
        <title>Assignment CRUD</title>
    {% endif %}
</head>
<body style="background-color:black;">
</body>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-light bg-danger-30 fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4 font-weight text-danger" href="{{ url_for('netflix') }}">NETFLIX </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link text-danger" href="{{ url_for('Movies_TVShows') }}">Featured Movies & Shows</a>
              <a class="nav-item nav-link text-danger" href="{{ url_for('about') }}">Click to View Profiles</a>
							<a class="nav-item nav-link text-danger" href="{{ url_for('trendingnow') }}">Trending Now</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
			  <a class="nav-item nav-link" href="{{ url_for('new_assign') }}">New Assignment</a>
                <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link text-danger" href="https://www.netflix.com/login">Sign In </a>
                <a class="nav-item nav-link text-danger" href="https://www.netflix.com/">Register Here</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main text-danger" class="container text-danger">
      <div class="row text-danger">
        <div class="col-md-8 text-danger">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }} text-danger bg-dark">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
