{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
            <h3 class='text-white'> About the 'Advanced Netflix Search Engine' Web App</h3>
			<!DOCTYPE html>
<html>
<body>

<ol>
  <p>Creators</li>
  <p class='text-white'>Yamini Adusumilli, Sahiri Velivala, & Jakob Veselsky</p>
  <p>Purpose</li>
  <p class='text-white'>Application is being developed for Netflix with the purpose of allowing Netflix users to apply additional filters when searching for entertainment content.</p> 
  <p>Mission</li>
  <p class='text-white'>Our mission is to support Netflix's mission, “To entertain the world", by developing an advanced search engine that allows users to better search and customize their entertainment.</p>
  <p>How will this application support the mission of the organization?</li>
  <p class='text-white'>By compiling Netflix filters into one place, we are making searching for entertainment easier for Netflix users all over the world.</p>
  <p>Our ERD Model</li>
</ol>  
</body>
<html>
   <head>
      <title>HTML img Tag</title>
   </head>

   <body>
      <img src="https://i.imgur.com/7O4k31v.png" alt="Our ERD Model" width="700" height="300" class="center">
</html>
{% endblock content %}


